<div ng-app="myapp" ng-controller="CryptoListCtrl">

<div class="w3-card-4">

<header class="w3-container w3-teal">
  <h1>Your cryptocurrencies</h1>
</header>

<input type="text" ng-model="filter_ticker">
<a href="#!/crypto-add" class="w3-button w3-teal" id="link-add">Add</a>
<table  class="w3-table-all w3-hoverable">
<tr>
  <th>
    <a href="#!/crypto-list" ng-click="sortType = 'code'; sortReverse = !sortReverse" id="ticker-header">
      Ticker
    </a>
    <i ng-show="sortType == 'code' && sortReverse" class="fa fa-caret-down" id="ticker-caret-down"></i>
    <i ng-show="sortType == 'code' && !sortReverse" class="fa fa-caret-up" id="ticker-caret-up"></i>
  </th>
  <th>
      Quantity
  </th>
  <th align="right">
    <a href="#!/crypto-list" ng-click="sortType = 'total_value'; sortReverse = !sortReverse" id="totalvalue-header">
      Total Value    
    </a>
    <i ng-show="sortType == 'total_value' && !sortReverse" class="fa fa-caret-down" id="totalvalue-caret-down"></i>
    <i ng-show="sortType == 'total_value' && sortReverse" class="fa fa-caret-up" id="totalvalue-caret-up"></i>
  </th>
  <th>Target</th>
  <th align="right">Price</th>
  <th align="right">
    <a href="#!/crypto-list" ng-click="sortType = 'marketcap'; sortReverse = !sortReverse" id="marketcap-header">
      Market CAP
    </a>
    <i ng-show="sortType == 'marketcap' && !sortReverse" class="fa fa-caret-down" id="marketcap-caret-down"></i>
    <i ng-show="sortType == 'marketcap' && sortReverse" class="fa fa-caret-up" id="marketcap-caret-up"></i>
  </th>
  <th align="right">
    <a href="#!/crypto-list" ng-click="sortType = 'target_price'; sortReverse = !sortReverse" id="target-price-header">
      Target Price
    </a>
    <i ng-show="sortType == 'target_price' && !sortReverse" class="fa fa-caret-down" id="target-price-caret-down"></i>
    <i ng-show="sortType == 'target_price' && sortReverse" class="fa fa-caret-up" id="target-price-caret-up"></i>
  </th>
  <th align="right">
    <a href="#!/crypto-list" ng-click="sortType = 'target_total_value'; sortReverse = !sortReverse"  id="target-totalvalue-header">
      Target total value
    </a>
    <i ng-show="sortType == 'target_total_value' && !sortReverse" class="fa fa-caret-down" id="target-totalvalue-caret-down"></i>
    <i ng-show="sortType == 'target_total_value' && sortReverse" class="fa fa-caret-up" id="target-totalvalue-caret-up"></i>
  </th>
  <th></th>
</tr>
<tr ng-repeat="x in coins | orderBy:sortType:sortReverse | filter:filter_ticker" >
  <td ng-click="go(x)">{{ x.code}}</td>
  <td ng-click="go(x)">{{ x.quantity}}</td>
  <td ng-click="go(x)">{{ x.total_value  | currency}}</td>
  <td ng-click="go(x)">{{ x.target | currency : 'M$' : 0}}</td>
  <td ng-click="go(x)" align="right">{{ x.price | currency}}</td>
  <td ng-click="go(x)" align="right">{{ x.marketcap | millionDollarsFilter | currency : 'M$' : 0}}</td>
  <td ng-click="go(x)" align="right">{{ x.target_price |  currency }}</td>
  <td ng-click="go(x)" align="right">{{ x.target_total_value |  currency }}</td>
  <td><i class="fa fa-trash" ng-click="delete(x)"></i></td>
</tr>
</table>
</div>
</div>
